<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Change Order</title>
</head>

<body>
    <div class="mx-auto container d-flex w-50 mt-5">
        <div class="mx-auto d-flex flex-column mr-5">
            <div class="d-flex align-items-center justify-content-between">
                <h1>Change Order</h1>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="post" action="/orders/update" class="d-flex flex-column">
                <input type="hidden" name="id" value="{{order.id}}">
                <div class="d-flex justify-content-between m-2">
                    <label for="first name">Name:</label>
                    <input class="border border-dark" style="width: 50%;" type="text" name="name" value="{{order.name}}">
                </div>
                <div class="d-flex justify-content-between m-2">
                    <label for="last name">Cookie Type:</label>
                    <input class="border border-dark ms-3" style="width: 50%;" type="text" name="cookie" value="{{order.cookie}}">
                </div>
                <div class="d-flex justify-content-between m-2">
                    <label for="boxes">Number of Boxes:</label>
                    <input class="border border-dark ms-3" style="width: 50%" type="number" name="boxes" value="{{order.boxes}}">
                </div>
                <input class="border border-dark mt-2 mb-2" style="box-shadow:2px 3px; width: 80px;" type="submit"
                    value="Log">
                </form>
        </div>
        <div class="text-end w-50 m-2"><a href="/orders">Back to Purchases</a>
        </div>
    </div>
</body>

</html>