<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0px auto;
        }
        body{
            text-align: center;
            margin: 10%;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
        <h1>Counter</h1>
        <p>{{session['amount']}} time(s)</p>
        <div>
            <button><a href="http://localhost:8000/add_count">Add two!</a></button>
            <button><a href="http://localhost:8000/destroy_session">Reset Count</a></button>
        </div>

</body>
</html>